@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/** stylos cabeçalhos **/
header{
    height: 500px;
    background-image: url(img/26621-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow:  1px 1px 4px rgba(255, 255, 255, 0.185);
}

#img > img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
}
div{
    text-align: center;
    padding-top:70px;  
}
h1, h2{
    text-align:center;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    padding: 4px;
    
}
p{
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
}
img{
    background-color: white;
    border-radius: 50%;
    box-shadow: none;
    
}
#favicon{
    padding-top: 20px;
    border: 1px 1px 3px black;
    
    
}
a > img{
    box-sizing: border-box;
    margin-inline: 3px;
    border: 1px solid white;
}
a > img:hover{
    border: 1px solid #7fffd4e5;
    transition: 0.4s;
    position: relative;
    top: -5px;
}

/** style do corpo da pagina **/
main{
    background-color: black;
}
.corpo, article{
    height: 350px;
    width: 45vw;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    padding: 0px;
    background-color: rgba(169, 169, 169, 0.13);
   
}

section{
    margin-top: 10px;
    text-align: center;
    
}
#serv{
    padding: 10px;
}


.tit{
    border: 2px solid rgba(255, 255, 255, 0.534);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 0px;
    text-align: left;
    font-size: 1.3em;
}