@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992) {
    section{
       
        width: 550px;
    }
    
}
@media screen and (min-width: 1000px){
    
     ul {
    
        display: inline-flex;
        flex: row nowrap;
            
        justify-content: space-between;
        align-items: center;
    }
}