@charset "UTF-8";
*{
    overflow: auto;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
/** stylos cabeçalhos **/
header{
    height: 400px;
    background-image: url(../img/26621-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

#img > img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
    
}
div{
    text-align: center;
     
}
h1, h2{
    text-align:center;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    padding: 4px;
    
}
p{
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    
}
.logo{
    background-color: rgba(255, 255, 255, 0.979);
    border-radius: 50%;
    box-shadow: none;
    
}
#favicon{
    padding-top: 20px;
    border: 1px 1px 3px black;
    
    
}
a > img{
    box-sizing: border-box;
    margin-inline: 3px;
    border: 1px solid white;
}
a > img:hover{
    border: 1px solid #7fffd4e5;
    transition: 0.4s;
    position: relative;
    top: -5px;
}

/** style do corpo da pagina **/
main{
    background-color: #030406;
    display: flex;
    flex-flow: column nowrap;
    
}
.corpo, article{
    border-radius: px;
    margin-top: 60px;

    display: flex;
    flex-flow: column nowrap;
   
}

section{
    margin: 15px auto;
    text-align: center;
   
    
}
#serv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}



.corpo > p, article> p{
    padding: 100px;
}

h3{
    color: white;
    padding: 8px;
}
li{
    padding: 20px;
}
.soft{
    
    color: white;
}